 .dynamicForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 300px;
 
  /* justify-content: space-between; */
 }

 .dynamicForm__item {
   display: flex;
   
 }

  .reduxContianer1 {
    background-color: grey;
    color: white;
    cursor: pointer;
  }


 .FormGroup {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px; 
  overflow: auto;
 }
.Tabs {
  position: relative;
  height: 100%;
 
}
 .HideTabs {
   display: inline-block;
   position: absolute;
   width: 100%;
   height: 20px;
   background-color: red;
   border: 2px solid white;
 }


.hide{
  visibility: hidden;
}


 .menu  {
   position: absolute;
   /* display: inline; */
   background-color: yellowgreen;
   width: 20px;
   height: 20px;
 }